<?xml version='1.0' encoding='utf-8'?>
<widget id="sudoku" version="0.0.1">
    <name>sudoku-app</name>
    <description>A Sudoku App</description>
    <author email="elia.dicomun@gmail.com">edicomun</author>
    <content src="index.html" />
    <access origin="*" />
    <content src="index.html" />
    <preference name="permissions" value="none" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />


</widget>